In [2]:
from sqlalchemy import create_engine

In [5]:
# engine = create_engine('sqlite_db_pythonsqlite.db')

In [3]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

QUESTIONS:
/* Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! */

/* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */


/* Q12: Find the facilities with their usage by member, but not guests */


/* Q13: Find the facilities usage by month, but not guests */

In [7]:
database = "sqlite_db_pythonsqlite.db"
 
# create a database connection
conn = create_connection(database)
cur = conn.cursor()
    
query1 = """
        SELECT *
        FROM FACILITIES
        """
cur.execute(query1)
 
rows = cur.fetchall()
 
for row in rows:
        print(row)

2.6.0
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [ ]:
#/* Q10: Produce a list of facilities with a total revenue less than 1000.
#The output of facility name and total revenue, sorted by revenue. Remember
#that there's a different cost for guests and members! */

In [8]:
database = "sqlite_db_pythonsqlite.db"
 
# create a database connection
conn = create_connection(database)
cur = conn.cursor()
    
query1 = """ SELECT DISTINCT(F.name), 
(F.guestcost * B.slots) + ( F.membercost * B.slots ) AS total_revenue
FROM Bookings AS B
INNER JOIN Facilities AS F 
GROUP BY F.name
HAVING total_revenue <1000
ORDER BY total_revenue DESC """

cur.execute(query1)
 
rows = cur.fetchall()
 
for row in rows:
        print(row)

2.6.0
('Massage Room 2', 179.8)
('Massage Room 1', 179.8)
('Tennis Court 2', 60)
('Tennis Court 1', 60)
('Squash Court', 42.0)
('Badminton Court', 31.0)
('Table Tennis', 10)
('Snooker Table', 10)
('Pool Table', 10)

In [ ]:
#/* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */

In [18]:
database = "sqlite_db_pythonsqlite.db"
 
# create a database connection
conn = create_connection(database)
cur = conn.cursor()

query2= """SELECT M1.surname, M1.firstname,  M2.surname as recommendedby
FROM Members AS M1, Members AS M2
WHERE M1.recommendedby = M2.memid
ORDER BY M1.surname, M1.firstname"""

cur.execute(query2)
 
rows = cur.fetchall()
 
for row in rows:
        print(row)

2.6.0
('Bader', 'Florence', 'Stibbons')
('Baker', 'Anne', 'Stibbons')
('Baker', 'Timothy', 'Farrell')
('Boothe', 'Tim', 'Rownam')
('Butters', 'Gerald', 'Smith')
('Coplin', 'Joan', 'Baker')
('Crumpet', 'Erica', 'Smith')
('Dare', 'Nancy', 'Joplette')
('Genting', 'Matthew', 'Butters')
('Hunt', 'John', 'Purview')
('Jones', 'David', 'Joplette')
('Jones', 'Douglas', 'Jones')
('Joplette', 'Janice', 'Smith')
('Mackenzie', 'Anna', 'Smith')
('Owen', 'Charles', 'Smith')
('Pinker', 'David', 'Farrell')
('Purview', 'Millicent', 'Smith')
('Rumney', 'Henrietta', 'Genting')
('Sarwin', 'Ramnaresh', 'Bader')
('Smith', 'Jack', 'Smith')
('Stibbons', 'Ponder', 'Tracy')
('Worthington-Smyth', 'Henry', 'Smith')

In [ ]:
#/* Q12: Find the facilities with their usage by member, but not guests */

In [14]:
database = "sqlite_db_pythonsqlite.db"
 
# create a database connection
conn = create_connection(database)
cur = conn.cursor()

query2= """SELECT facid, name, memid, surname, firstname 
FROM Bookings
INNER join Facilities 
Using (facid)
inner join Members
Using (memid)
where memid !=0 
group by surname """

cur.execute(query2)
 
rows = cur.fetchall()
 
for row in rows:
        print(row)

2.6.0
(2, 'Badminton Court', 15, 'Bader', 'Florence')
(0, 'Tennis Court 1', 12, 'Baker', 'Anne')
(1, 'Tennis Court 2', 8, 'Boothe', 'Tim')
(0, 'Tennis Court 1', 5, 'Butters', 'Gerald')
(7, 'Snooker Table', 22, 'Coplin', 'Joan')
(2, 'Badminton Court', 36, 'Crumpet', 'Erica')
(2, 'Badminton Court', 7, 'Dare', 'Nancy')
(3, 'Table Tennis', 13, 'Farrell', 'Jemima')
(5, 'Massage Room 2', 20, 'Genting', 'Matthew')
(0, 'Tennis Court 1', 35, 'Hunt', 'John')
(1, 'Tennis Court 2', 11, 'Jones', 'David')
(4, 'Massage Room 1', 4, 'Joplette', 'Janice')
(2, 'Badminton Court', 21, 'Mackenzie', 'Anna')
(0, 'Tennis Court 1', 10, 'Owen', 'Charles')
(7, 'Snooker Table', 17, 'Pinker', 'David')
(2, 'Badminton Court', 30, 'Purview', 'Millicent')
(4, 'Massage Room 1', 3, 'Rownam', 'Tim')
(7, 'Snooker Table', 27, 'Rumney', 'Henrietta')
(1, 'Tennis Court 2', 24, 'Sarwin', 'Ramnaresh')
(3, 'Table Tennis', 1, 'Smith', 'Darren')
(1, 'Tennis Court 2', 9, 'Stibbons', 'Ponder')
(1, 'Tennis Court 2', 6, 'Tracy', 'Burton')
(7, 'Snooker Table', 33, 'Tupperware', 'Hyacinth')
(2, 'Badminton Court', 29, 'Worthington-Smyth', 'Henry')

In [ ]:
#/* Q13: Find the facilities usage by month, but not guests */

In [19]:
database = "sqlite_db_pythonsqlite.db"
 
# create a database connection
conn = create_connection(database)
cur = conn.cursor()

query2= """SELECT distinct facid, name, strftime('%m', starttime) as Month
FROM Bookings
left join Facilities 
Using (facid)
where memid !=0"""

cur.execute(query2)
 
rows = cur.fetchall()
 
for row in rows:
        print(row)

2.6.0
(3, 'Table Tennis', '07')
(4, 'Massage Room 1', '07')
(7, 'Snooker Table', '07')
(8, 'Pool Table', '07')
(0, 'Tennis Court 1', '07')
(6, 'Squash Court', '07')
(2, 'Badminton Court', '07')
(1, 'Tennis Court 2', '07')
(5, 'Massage Room 2', '07')
(0, 'Tennis Court 1', '08')
(1, 'Tennis Court 2', '08')
(2, 'Badminton Court', '08')
(3, 'Table Tennis', '08')
(4, 'Massage Room 1', '08')
(5, 'Massage Room 2', '08')
(6, 'Squash Court', '08')
(7, 'Snooker Table', '08')
(8, 'Pool Table', '08')
(0, 'Tennis Court 1', '09')
(1, 'Tennis Court 2', '09')
(2, 'Badminton Court', '09')
(3, 'Table Tennis', '09')
(4, 'Massage Room 1', '09')
(5, 'Massage Room 2', '09')
(6, 'Squash Court', '09')
(7, 'Snooker Table', '09')
(8, 'Pool Table', '09')